html
{
	margin: 0;
	padding: 0;
	font: normal 100%/1.4 Georgia,serif;
}
.current{
	background-color: #000531;
	color: #fff;

}
.side {
	border-bottom: 1px solid LightGrey;
	padding: 7px 0 7px 0;
}
.nav-top{
	font-size: 20px;
}
.side a{
	font-size: 16px;
	color: rgb(199,21,133);
	font-weight: bold;
	font-family: sans-serif;
}
.well{
	border-radius: 0;
}
.index-head{
	color: rgb(	0,191,255);
}
/*.side a:hover{
	background-color: skyblue;
	border: 1px solid black;
}*/